body, div, ul, li
{
    margin: 10px auto;
    padding: 10px auto;
    background-color: rgba(0, 0, 0, 0.05);
}

.shadow
{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);;
    border-radius: 4px;
}

.login
{
    max-width: 400px;
    text-align: center;
}