<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
	<div class="login">
    <form action="/login" enctype="multipart/form-data" method="post">
      <label>login<br/>
      <input name="full_name" type="text" maxlength="50" size="25"/>
      </label><br/>
      <label>password<br/>
      <input name="password" type="text" maxlength="50" size="25"/>
      </label><br/>
      <input type="file" name="upload">
      <input type="submit" value="Upload file" />
    </form>
    </div>
  </body>
</html>
